<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="print.css">
  </head>
  <body ng-controller="empController">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src = "emp.js"></script>

    <div class="col-auto text-center hidden-print" >
      <legend >Employees Details</legend>
    </div>
    <div class="container" ng-init="total= {}">
    <div class="active-cyan-3 active-cyan-4 mb-4 hidden-print">
    <hr>
        <input class="form-control" type="text" ng-model="search" placeholder="Search" aria-label="Search">
    </div>

    <form class="form-inline" role="form">
    <div class="form-group hidden-print">
      <label for="name">Name</label>
	    <input type="name" class="form-control" ng-model="Name" id="name" placeholder="Enter name" required>
    </div>&emsp;

    <div class="form-group hidden-print">
      <label for="Dept">Dept</label>&nbsp;
      <select ng-model="selectedDept" required>
          <option value="">Select</option>
          <option value="IT">IT</option>
          <option value="HR">HR</option>
          <option value="Admin">Admin</option>
          <option value="Production">Production</option>
      </select>
    </div>&emsp;

    <div class="form-group hidden-print">
       <label for="ba">BasicSalary</label>&nbsp;
	     <input type="text" class="form-control" id="ba" ng-model="GrossSalary" placeholder="Enter Salary" required>
     </div>&emsp;

     <button type="submit" class="btn btn-default hidden-print" ng-click="addRow()">Add Row</button>&emsp;
     <button type="submit" class="btn btn-default hidden-print" ng-click="submit()">Submit Data</button>&emsp;
     <button type="submit" class="btn btn-default hidden-print" ng-click="removeRow()">Remove Row</button>
     </form><br>
     <div class="alert alert-danger" ng-show="showError">
       <strong> Please enter correct data.</strong>
     </div>

     <div class="show-print">
       <p style="text-align:left;">
       <b>Juliet Apprels Ltd</b>
       <span style="float:right;"><b>Div:Juliet Garments</b></span>
       </p>
       Juliet House,Mahape<br />
       <center><B>EMPLOYEE DETAILS</B></center><br>
     </div>

     <div class="table1">
     <div class="row">
     <div class="col-12">


     <div class="show-print">
         <div style="text-align:center">
           <p style="text-align:left;">
           NAME : <b>Nityansh Shinde</b>
           <span style="float:right;"><b>October 2018</b></b></span>
           </p>
           DESG : <b>Web Developer</b>
           <p style="text-align:left;">
           DEPT : <b>Information Technology</b>
           <span style="float:right;">Date Of Appointment : <b>01/02/2016</b></b></span>
           </p>
         </div>
       </div>

     <table class="table table-bordered text-centered mx-auto" style="text-align:center">
        <tr>
            <th rowspan="2">ID</th>
            <th rowspan="2">Name</th>
            <th rowspan="2">Dept</th>
            <th colspan="3">GrossSalary</th>
        </tr>
          <tr>
          <th>BasicSalary</th>
          <th>Deduction</th>
          <th>NetSalary</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in employees | filter : search track by $index  ">
            <td>{{$index + 101}}</td>
            <td>{{x.Name}}</td>
            <td>{{x.Dept}}</td>

            <td>{{x.GrossSalary}}</td>
            <td ng-init="$parent.total.Deduct = $parent.total.Deduct + Deduction(x.GrossSalary)">{{ Deduction(x.GrossSalary)}}</td>
            <td ng-init="$parent.total.NetSal = $parent.total.NetSal + (x.GrossSalary -  Deduction(x.GrossSalary))">{{x.GrossSalary -  Deduction(x.GrossSalary) }}</td>
            <td class="hidden-print"><input class="hidden-print"type="checkbox" ng-model="x.Remove"/></td>
          </tr>
          <tr>
            <td colspan="3">Total</td>
            <td>{{ GrossTotal() }}</td>
            <td>{{ total.Deduct }}</td>
            <td>{{ total.NetSal }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    </div>
    <br>
    <center>
    <button class="btn btn-info hidden-print" type="print"name="button" onclick="window.print()">Print</button>
    </center>

  </body>
</html>
