.show-print{
  display:none !important;
}
@media print{
  .hidden-print {
    display:none !important;
  }
  .show-print{
    display:block !important;
  }
  .table1{
    border : 1px solid black !important;
  }
}
.table1{
  border : 1px solid black !important;
}
